<div class="mt-5 d-flex flex-column align-items-center justify-content-center">
  <div class="text-left w-50 mb-5">
    <p class="empty-word ">
      {{#if cartEmptyPage}}購物袋中沒有任何商品{{/if}}。
    </p>
    <p>所有訂單均享免額外付費運送服務。</p>
    <a href="/products" class="btn keep-looking-btn w-100 mt-3 mb-5">繼續選購</a>
  </div>
  <div class="empty-page-content-wrapper mb-5">
    <div class="empty-page-content text-center">
      <h4 class="mb-4">新品上市</h4>
      <a class="icon" href="/products">購買 <i class="fas fa-angle-right"></i></a>
    </div>
    <img src="https://i.imgur.com/ghttVPs.jpg" alt="">
  </div>

</div>