<div class="navCartForMobile-wrapper mt-1">
  <a class="dropdown-item d-flex justify-content-center align-items-center" href="/cart">
    <img src="https://i.imgur.com/ZlFAWRi.png" alt="">
    <div class="nav-cart-item">購物袋</div>
  </a>

  <a class="dropdown-item d-flex justify-content-center align-items-center" href="/orders">
    <img src="https://i.imgur.com/hGqFqwU.png" alt="">
    <div class="nav-cart-item">訂單</div>
  </a>

  {{#if user}}
  <a class="dropdown-item d-flex flex-column align-items-center justify-content-center" href="/logout">
    <div class="d-flex align-items-center">
      <img src="https://i.imgur.com/Hxg8bfx.png" alt="">
      <div class="nav-cart-item">登出</div>
    </div>
    <small class="nav-cart-item">{{ user.email }}</small>
  </a>
  {{else}}
  <a class="dropdown-item d-flex justify-content-center align-items-center" href="/login">
    <img src="https://i.imgur.com/Hxg8bfx.png" alt="">
    <div class="nav-cart-item">登入</div>

  </a>
  {{/if}}
</div>