<div class="section-content d-flex justify-content-center my-1">
  <p class="my-auto">全站享免額外付費運送。</p>
</div>
<div class="unit-wrapper d-flex flex-column">
  <div class="unit-copy-wrapper text-center">
    <span class="all-new-logo">全新</span>
    <h2 class="headline">iPhone 12 Pro</h2>
    <h4 class="subhead">
      <div>經典設計，重磅回歸。</div>
      <div>NT$35,900 起</div>
    </h4>
    <br>
    <div class="cta-links">
      <a class="icon" href="">購買 <i class="fas fa-angle-right"></i></a>
    </div>
  </div>
  <div class="unit-image-wrapper">
    <img src="https://i.imgur.com/DNjMraB.jpg" alt="">
  </div>
</div>