<div class="row my-5">
  <div class="col-9 col-md-6 col-lg-4 m-auto">
    <div class="card card-body" id="login-card">
      <h1 class="text-center mt-3">Login</h1>
      <form action="/login" method="POST">
        <div class="form-group login-input-group">
          <input required type="email" id="login-email" name="email" class="form-control input-area"
            placeholder="Enter Email" value="{{email}}">
          <label class="label" id="label-login-email" for="login-email">Email</label>
        </div>
        <div class="form-group login-input-group">
          <input required type="password" id="login-password" name="password" class="form-control"
            placeholder="Enter Password" value="{{password}}">
          <label class="label" id="label-login-pd" for="login-password">Password</label>
        </div>
        <button type="submit" class="btn login-btn btn-block " style="margin-bottom: 0.8rem;">Login</button>
        <a href="/auth/facebook" class="btn fb-login-btn btn-block"><i
            class="fab fa-facebook-square fa-lg mr-2"></i>Login with
          Facebook</a>
      </form>
      <p class="lead mt-4 text-center">
        <small><a href="/register" class="text-secondary">Create account</a></small>
      </p>
    </div>
  </div>
</div>