<div class="m-5 p-5 d-flex flex-column justify-content-center align-items-center">
  <h1 class="mb-4">Database Test Report</h1>
  <h4>Product stock: {{ stock }}</h4>
  <h4>snCount: {{ snCount }}</h4>
  <h4>paymentCount: {{ paymentCount }}</h4>
</div>