* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: rgb(58, 58, 58); 
  color:#f5f5f7;
}

.nav-icon {
  margin: -16px 0;
  padding: 0 25px;
}

.dropdown-menu {
  font-size: small;
}

.section-content {  
  background: #fbfbfd;
  height: 44px;
}

.unit-wrapper {
  width: 100%;
  height: 100%;
  background: #131313;
  color: #f5f5f7;
  position: relative;
  padding: 150px 0 0 0;
}

.bag {
  color: white;
  background-blend-mode: white;
  border: 1px solid white;
}

#dropdownMenuLink {
  color: rgb(58, 58, 58);
}

.unit-copy-wrapper {
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -150px;
}

.unit-copy-wrapper {
  width: 300px;
}

.headline {
  font-size: 3rem;
}

.subhead {
  font-weight: 300;
}

.unit-image-wrapper img {
  width: 100%;
}

.footer-list-item a {
  color: #515154;
}

.footer-list-item li{
  line-height: 35px;
}

.copyright {
  font-size: xx-small;
  color: #86868B;
}

.empty-word {
  font-size: xx-large;
}


/* login page */
.login-input-group {
  margin: 3rem 0;
  padding: 0 1rem;
}

.login-input-group input {
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(200,200,205);
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

.login-input-group input:focus {
  box-shadow: none;
  border-bottom: 2px solid rgb(11,79,192);
}

input:focus + .label {
  color: rgb(11,79,192);
  font-size: x-small;
  font-weight: bolder;
  transition-duration: 0.3s;
}

input + .label {
  color: rgb(200,200,205);
  transition-duration: 0.3s;
}

#login-card {
  position: relative;
}

#label-login-email {
  position: absolute;
  top: 28%;
  left: 10%;
}

#label-login-pd {
  position: absolute;
  top: 45%;
  left: 10%;
}

#login-card {
  position: relative;
}

#label-reg-name {
  position: absolute;
  top: 21%;
  left: 10%;
}

#label-reg-email {
  position: absolute;
  top: 33.5%;
  left: 10%;
}

#label-reg-pd {
  position: absolute;
  top: 46%;
  left: 10%;
}

#label-reg-cpd {
  position: absolute;
  top: 58.5%;
  left: 10%;
}

.login-btn, .fb-login-btn, .keep-looking-btn, .nav-post-order-btn {
  padding: 10px 0;
  border-radius: 10px;
}
.login-btn, .nav-post-order-btn {
  background: rgb(4, 113, 227);
  color: #ffffff;
  transition-duration: 0.3s;
  
}

.login-btn:hover, .nav-post-order-btn:hover {
  background: rgb(71, 129, 230);
  color: #ffffff;
  transition-duration: 0.3s;
}

.fb-login-btn, .keep-looking-btn {
  background: rgb(233, 233, 233);
}

.fb-login-btn:hover, .keep-looking-btn:hover {
  background: rgba(233, 233, 233, 0.63);
}
/* login page */

.alert {
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  z-index: 1;
}